#content {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

#header {
    background-color: bisque;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 9px 20px 9px 20px;
}

.pfp {
    width: 45px;
    height: auto;
}

#logo {
    font-family:'Courier New', Courier, monospace;
    font-weight: 900;
    font-size: 22px;
}

#save-projects {
    margin-left: auto;
    margin-right: 20px;
    font-family:'Courier New', Courier, monospace;
    font-weight: 900;
    font-size: 22px;
    padding: 7px 10px;
}

#save-projects:hover {
    background-color: skyblue;
    cursor: pointer;
}

#middle {
    display: flex;
    height: 100%;
}

#sidebar {
    width: 140px;
    background-color: skyblue;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0px;
    flex-direction: column;
}

#sidebar-header {
    font-family: 'Courier New', Courier, monospace;
    font-weight: 600;
    font-size: 19px;
}

#project-list {
    display: flex;
    flex-direction: column;
    margin-bottom: auto;
    align-items: center;
}

#project-list > div {
    font-size: 16px;
    margin-top: 4px;
    cursor: pointer;
}

#project-list > div:hover {
    background-color: bisque;
    padding: 4px 7px;
}

#list {
    margin: 20px;
    width: 100%;
    display: flex;
    flex-direction: column;
}

#inputs {
    margin-top: auto;
}

#list-header {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 15px;
}

.list-title {
    font-family: 'Courier New', Courier, monospace;
    font-weight: 600;
    font-size: 19px;
}

#new-item {
    border: none;
    border-radius: 2px;
    background-color: skyblue;
    width: 25px;
    height: 25px;
    margin-top: -5px;
}

.grid-header {
    font-weight: 600;
    margin: 5px 0px;
}

#populated-list {
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
}

form {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.input-class {
    display: flex;
    flex-direction: column;
}

#inputs {
    font-family: 'Courier New', Courier, monospace;
}

#form-submit {
    border: none;
    border-radius: 3px;
    background-color: skyblue;
    width: 30px;
    height: 25px;
    cursor: pointer;
}

#footer {
    margin-top: auto;
    background-color: bisque;
    display: flex;
    justify-content: center;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 600;
    padding: 7px;
}

label {
    font-family: 'Courier New', Courier, monospace;
}

#new-project {
    width: 90%;
}